$colorNine: #D6D4BE;
$imageFirst: url('../../img/children.jpg');
$fontStyle: italic;
$rgradientFirst: radial-gradient(circle, #0CB270 50%, #15F409 100%);
$textDecoration: none;
$fontWeight: bold;
$colorOne: #fff;
$transition: all 1s;
$colorTwo: #F70919;
$colorThree: #868589;
$colorFour: #F4092D;
$colorFive: #33313A;
$rgradientSecond: radial-gradient(circle at top left,#5b4ffc, #df0253);
$rgradientThird: radial-gradient(circle at top right,#5b4ffc, #df0253);
$lstyleType: none;
$colorSix: #07031C;
$slides: 10;
$colorSeven: #ED3BC6;
$colorEight: #390B44;
$top: 165px;
$border: 10px solid transparent;
$colorTen: #38CFED;
$width: -279px;
$height: -139px;
@mixin imagePath {
    background-image: url('../../img/icons.png');
    background-repeat: no-repeat;            
    background-size: 279px 139px;
}
@mixin bigScreen {
    max-width: 1200px;
    margin: auto;
}

html {
    background: $colorNine;
}
.body {
    width: 95vw;
    margin: auto;
    display: flex;
    flex-direction: column;
} 
/*header*/
.header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    &__image {
        flex-basis: 65%;
        height: 300px;
        background-image: $imageFirst;
        background-size: 100% 300px;
        background-repeat: no-repeat;
    }
    &__title {
        &_first {
            color: #053513;
            font-style: $fontStyle;
            font-size: 4em;
            margin-top: 150px;
        }
        &_second {
            flex-basis: 100%;
            background: $colorThree;
            text-align: center;
            color: $colorFour;
            text-shadow: 1px -1px #D41FDD;
            font-style: $fontStyle;
            font-size: 2em;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &__comeback {
        flex-basis: 35%;
        background: #F7EFA5;
    }
    &__anchor {
        flex-basis: 70%;
        background: $rgradientFirst;
        display: inline-block;
        height: 80px;
        width: 150px;
        border-radius: 50%;
        margin-top: 20%;
        padding-top: 40px;
        text-decoration: $textDecoration;
        font-weight: $fontWeight;
        color: $colorOne;
        border: 2px solid $colorOne;
        transition: $transition;
    }
    &__anchor:hover,
    &__anchor:active {
        color: $colorTwo;
        border: 2px solid $colorTwo;
    }
}
/*main part*/
.main {
    display: flex;
}
/*navigation*/
.navigation {
    flex-basis: 20%;
    &__title {
        color: #17631F;
        text-shadow: -2px -2px#8DD10E;
        font-size: 1.5em;
        &_first {
            margin-top: 0;
        }
    }
    &__text {
        display: none;
    }
    &__switch:not(:checked) ~ .navigation__switchConnection>.navigation__text_shown {
        display: inline-block;
    }
    &__switch:checked ~ .navigation__switchConnection>.navigation__text_hidden {
        display: inline-block;
    }
    &__menu {
        &_first {
            border: 2px dotted $colorFive;
            background: $rgradientSecond;
            border-radius: 50px;
            text-align: center;
            padding-left: 0;
            line-height: 40px;
            width: 180px;
            margin-left: -35vw;
            transition: $transition;
        }
        &_second {
            border: 2px dotted $colorFive;
            background: $rgradientThird;
            border-radius: 50px;
            text-align: center;
            padding-left: 0;
            width: 240px;
            margin-left: -45vw;
            transition: $transition;
        }
    }
    &__switch:checked ~ .navigation__menu_first {
        margin-left: 0;
    }
    &__switch:checked ~ .navigation__menu_second {
        margin-left: -3vw;
    }
    &__item {
        list-style-type: $lstyleType;
    }
    &__anchor {
        text-decoration: $textDecoration;
        color: $colorSix;
        font-weight: $fontWeight;
        font-style: $fontStyle;
        font-size: 1.5em;
        transition: $transition;
    }
    &__anchor:hover,
    &__anchor:active {
        color: $colorSeven;
    }
}
/*content*/
.content {
    flex-basis: 80%;
    background:#F7EFA5;
}
.switch {
    display: none;
} 
.slider {
    margin-left: 50px;
    margin-top: 5%;
    position: relative;
    &__slide {
        display: none;
    }
}
@for $i from 1 through $slides {
    .switch:nth-of-type(#{$i}):checked ~ .slider>.slider__slide_number-#{$i} {
        display: block;
        width: 70%;
    }
}
.slider {
    &__image {
        border: 1px solid $colorSeven;
        border-radius: 10px;
        width: 640px; 
        height: 400px;
    }
    &__arrow {
        &_left {
            width: 0;
            height: 0;
            border: $border;
            border-right: 10px solid $colorEight;
            position: absolute;
            top: $top;
            left: 0;
        } 
        &_right {
            width: 0;
            height: 0;
            border: $border;
            border-left: 10px solid $colorEight;
            position: absolute;
            top: $top;
            left: 620px;
        } 
    }
    &__pointers {
        display: flex;
        margin-left: 25%;
        margin-top: 5%;
    }
    &__point {
        flex-basis: 10px;
        height: 10px;
        margin: 5px;
        background-color: $colorEight;
        border-radius: 50%;
    }
}
@for $j from 1 through $slides {
    .switch:nth-of-type(#{$j}):checked ~ .slider>.slider__pointers>.slider__point_number-#{$j} {
        background-color: $colorSeven;
    }
}
/*footer*/
.footer {
    background: $colorNine;
    &__icons {
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        align-items: center;
        justify-content: space-around;
    }
    &__anchor {
        flex-basis: 75px;
        height: 75px;
        background-color: $colorTen;
        border-radius: 10px;
        box-shadow: 5px 5px 2px#081E28;
        transition: $transition;
        &_number-1 {
            @include imagePath;
            background-position: $width / 4 * 2 5px;
        }
        &_number-2 {
            @include imagePath;
            background-position: $width / 4 * 3 5px;
        }
        &_number-3 {
            @include imagePath;
            background-position: 5px $height / 2;
        }
        &_number-4 {
            @include imagePath;
            background-position: ($width / 4 + 3px) ($height / 2);
        }
        &_number-5 {
            @include imagePath;
            background-position: ($width / 4 * 2 + 3px) ($height / 2);
        }
        &_number-6 {
            @include imagePath;
            background-position: ($width / 4 * 3 + 1px) ($height / 2);
        }
    }
    &__anchor:hover,
    &__anchor:active {
        box-shadow: 5px 5px 2px $colorSeven;
    }
    &__copyright {
        padding-left: 10px;
        font-style: $fontStyle;
        font-weight: $fontWeight;
        font-size: 1.2em;
    }
}
@media screen and (max-width: 750px) {
    html {
        background: $colorOne;
    }
    .body {
        width: 100%;
        margin: 0;
        padding-right: 0;
        margin-right: 0;
    }
    .header {
        flex-direction: column;
        &__image {
            height: 500px;
        }
        &__title {
            margin-top: 120px;
            font-size: 3em;
        }
        &__anchor {
            height: 40px;
            width: 300px;
            margin-top: 0;
            padding-top: 0;
            line-height: 40px;
        }
    }
    .main {
        flex-direction: column;
    }
    .navigation {
        order: 2;
        text-align: center;
        &__title {
            color: #17631F;
            text-shadow: -2px -2px#8DD10E;
            font-size: 1.5em;
            &_first {
                margin-top: 10px;
            }
        }
        &__switch {
            display: none;
        }
        &__switchConnection {
            display: none;
        }
        &__text {
            display: none;
            &_shown {
                display: none;
            }
            &_hidden {
                display: none;
            }
        }
        &__menu {
            &_first {
                margin-left: 25%;
            }
            &_second {
                margin-left: 20%;
            }
        }
    }
    .content {
        order: 1;
        overflow: hidden;
        width: 100%;
    }
    .slider {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        &__image {
            border: none;
            margin-left: 0;
            margin-right: 0;
            width: 100vw;
            height: 60vw;
            border-radius: 0;
        }
        &__slide {
            width: 100%;
            margin-right: 0;
        }
        &__arrow {
            &_left,
            &_right {
            display: none;
            }
        }
        &__pointers {
            margin-bottom: 5%;
            margin-top: 0;
            margin-left: 25%;
            width: 300px;
        }
    }
    .footer {
        &__icons {
            justify-content: center;
        }
        &__anchor {
            flex-basis: 70px;
            height: 70px;
            box-shadow: none;
        }
    }
}
@media screen and (min-width: 751px) and (max-width: 980px) {
    .header {
        flex-direction: column;
        &__image {
            height: 500px;
        }
        &__anchor {
            height: 40px;
            width: 300px;
            margin-top: 0;
            padding-top: 0;
            line-height: 40px;
        }
    }
    .main {
        flex-direction: column;
    }
    .navigation {
        order: 2;
        text-align: center;
        &__title {
            &_first {
            margin-top: 10px;
            }
        }
        &__switch:checked ~ .navigation__menu_first {
            margin-left: 40%;
        }
        &__switch:checked ~ .navigation__menu_second {
            margin-left: 35%;
        }
    }
    .content {
        order: 1;
        width: 100%;
    }
    .slider {
        margin-left: 0;
        &__image {
            border: none;
            margin-left: 0;
            margin-right: 0;
            width: 95vw;
            height: 50vw;
        }
        &__arrow {
            &_left,
            &_right {
                display: none;
            } 
        }
        &__pointers {
            margin-bottom: 2%;
            margin-left: 32%;
            margin-top: 0;
        }
    }
}
@media screen and (min-width: 1200px) {
    .body {
        @include bigScreen;
    } 
}


