$imageFirst: url('../../img/1.jpg');
$imageSecond: url('../../img/2.jpg');
$imageThird: url('../../img/3.jpg');
$imageFourth: url('../../img/4.jpeg');
$imageFifth: url('../../img/5.jpg');
$fontWeight: bold;
$colorOne: #fff;
$colorTwo: #000;
$lstyleType: none;
$textDecoration: none;
$fontStyle: italic;
$colorThree: #14E5C9;
$colorFour: yellow;
$width2: -237px;
$height2: 8px;
$colorFive: #9E0F33;
$transition: all 1s;
$lgradientFirst: linear-gradient(#ED3BC6 25%, #390B44 75%);
@mixin imagePath2 {
    background-image: url('../../img/sports.png');
    background-repeat: no-repeat;            
    background-size: 237px 41px;
}
@mixin bigScreen {
    max-width: 1200px;
    margin: auto;
}

.body {
    margin: 0;
}
/*header*/
.header {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 516px;
    background-color: $colorTwo;
    &__image {
        background-size: 100% 516px;
        background-repeat: no-repeat;
        &_number-1 {
            background-image: $imageFirst;
        }
        &_number-2 {
            background-image: $imageSecond;
        }
        &_number-3 {
            background-image: $imageThird;
        }
        &_number-4 {
            background-image: $imageFourth;
        }
        &_number-5 {
            background-image: $imageFifth;
        }
    }
    &__title {
        font-size: 2.8em;
        font-weight: $fontWeight;
        text-align: center;
        color: $colorOne;
        margin-top: 5%;
        text-shadow: -2px -2px $colorTwo;
    }
}
/*navigation*/
.navigation {
    border: 5px solid $colorOne;
    border-radius: 20px;
    background: transparent;
    margin: 0 auto;
    width: 50%;
    color: $colorOne;
    text-align: center;
    font-weight: $fontWeight;
    font-size: 1.5em;
    cursor: pointer;
    transition: $transition;
    &__menu {
        background: transparent;
        margin-top: 0;
        text-align: center;
    }
    &__item {
        list-style-type: none;
    }
    &__anchor {
        text-decoration: none;
        color: #ED3BC6;
        text-shadow: 2px -2px #390B44;
        font-style: $fontStyle;
        font-size: 1em;
    }
}
.header {
    &__menu {
        background: $colorThree;
        margin: 0;
        text-align: center;
    }
    &__item {
        margin: 20% 10% 10% 10%;
        border-radius: 50%;
        border: 5px solid $colorOne;
        background: $colorThree;
        list-style-type: $lstyleType;
    }
    &__anchor {
        color: $colorOne;
        text-decoration: $textDecoration;
        font-style: $fontStyle;
        font-size: 1.5em;
        font-weight: $fontWeight;
    }
}
/*main part*/
.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}
/*sidebar*/
.aside {
    background: $colorThree;
    border-right: 5px solid #1468E5;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 150px 150px 150px 150px 150px;
    grid-row-gap: 5px;
    padding-top: 35px;
    &__rectangle {
        background: green;
        border-top: 30px solid $colorFour;
        border-bottom: 30px solid $colorFour;
        border-right: 30px solid $colorFour;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        position: relative;
        &_active {
            background: #EF6EE0;
        }
    }
    &__anchor {
        text-decoration: $textDecoration;
        color: $colorFour;
        text-shadow: 1px 1px $colorOne;
        font-weight: $fontWeight;
        font-style: $fontStyle;
        font-size: 1.5em;
        &_active {
            color: $colorFive;
        }
    }
    &__circle {
        border-radius: 50%;
        background-color: #042804;
        width: 60px;
        height: 60px;
        position: absolute;
        top: -5px;
        right: -5px;
        &_number-1 {
            @include imagePath2;
            background-position: 10px $height2;
        }
        &_number-2 {
            @include imagePath2;
            background-position: $width2 / 5 + 6px $height2;
        }
        &_number-3 {
            @include imagePath2;
            background-position: $width2 / 5 * 2 + 7px $height2;
        }
        &_number-4 {
            @include imagePath2;
            background-position: $width2 / 5 * 3 + 7px $height2;
        }
        &_number-5 {
            @include imagePath2;
            background-position: $width2 / 5 * 4 + 1px $height2;
        }
        &_active {
            background-color: $colorFive;
        }
    }
}
/*content*/
.content {
    &__title {
        color: #1F0738;
        margin-left: 30%;
        margin-top: 10px;
    }
    &__item {
        list-style-type: $lstyleType;
        margin-left: 5%;
    }
    &__anchor {
        color: #1E2EDB;
    }
    &__text {
        margin-left: 2%;
    }
}
/*footer*/
.footer {
    background: $colorThree;
    height: 100px;
    display: grid;
    grid-template-columns: 25% 40%;
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    justify-content: center;
    &__copyright {
        text-align: center;
    }
    &__copyright,
    &__icons {
        background: $colorOne;
        color: #054215;
        font-weight: $fontWeight;
        font-style: $fontStyle;
        border-radius: 10px;
        font-size: 1.5em;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 5px -5px 5px #054215;
        text-shadow: 2px -2px 2px $colorThree;
        cursor: pointer;
        transition: $transition;
    }
    &__menu {
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        padding-bottom: 0;
        margin-left: 0;
    }
    &__item {
        list-style-type: $lstyleType;
        border-radius: 10px;
    }
    &__anchor {
        text-decoration: $textDecoration;
        color: #054215;
    }
}

@media screen and (max-width: 750px) {
    .body {
        width: 100%;
    }
    .header {
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 450px 1fr;
        grid-row-gap: 0;
        &__image {
            width: 100%;
            background-image: $lgradientFirst;
        }
        &__title {
            margin-top: 0;
            font-size: 2.2em; 
            margin-left: 0;
        }
    }
    .navigation {
        width: 90%;
        &__menu {
            display: block;
            background: #A2DD21;
            margin-bottom: 0;
        }
    }
    .header {
        &__menu {
            line-height: 20px;
            padding-left: 0;
        }
        &__item {
            margin: 0;
            padding-inline-start: 0px;
        }
    }
    .main {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 450px;
        grid-template-areas: 
        "content"
        "aside";
    }
    .aside {
        grid-area: aside;
        grid-template-columns: 100%;
        grid-template-rows: 80px 80px 80px 80px 80px;
        padding-top: 10px;
        border-right: none;
        justify-content: start;
        &__rectangle {
            border: 10px solid $colorFour;
            border-radius: 50px;
        }
    }
    .content {
        grid-area: content;
        &__title {
            margin-left: 0;
        }
        &__menu {
            padding-left: 0;
        }
        &__item {
            margin-left: 0;
            padding-left: 0;
        }
        &__text {
            margin-left: 0;
            padding-left: 0;
        }
    }
    .footer {
        display: block;
        height: 150px;
        margin-top: 5px;
        &__menu {
            margin-left: 0;
        }
        &__copyright {
            text-align: center;
        }
        &__item {
            list-style-type: $lstyleType;
            background: $colorOne;
            text-align: center;
        }
    }
}
@media screen and (min-width: 751px) and (max-width: 800px) {
    .header {
        &__menu {
            line-height: 30px;
        }
        &__title {
            margin-left: 0;
        }
    }
    .content {
        &__title {
            margin-left: 2%;
        }
        &__menu {
            padding-left: 2%;
        }
        &__item {
            margin-left: 0;
            padding-left: 0;
        }
    }
    .footer {
        display: block;
        margin-top: 5px;
        &__copyright {
            text-align: center;
        }
        &__menu {
            margin-left: 0;
        }
        &__item {
            list-style-type: $lstyleType;
            background: $colorOne;
            text-align: center;
        }
    }
}
@media screen and (min-width: 1200px) {
    .body {
        @include bigScreen;
    } 
}