$colorOne: #868589;
$textDecoration: none;
$colorTwo: #fff;
$fontWeight: bold;
$fontStyle: italic;
$lgradientFirst: linear-gradient(to bottom right, #0B4C15, #EDEA31, #E80D4B);
$textDec: underline;
$colorThree: rgb(255, 0, 0);
$fStyle: none;
$colorFour: rgba(255, 0, 255, 0.2);
$lgradientSecond: linear-gradient(to top right, #0B4C15, #EDEA31, #E80D4B);
$transition: all 1s;
$translateFirst: translate(0);
$translateSecond: translate(-100%);
$animType: 50s linear infinite alternate;
$colorFive: #33313A;
$colorSix: #09350E;
$colorSeven: #5BBA0E;
$lstyleType: none;
$colorEight: #F922B9; 
$colorNine: #2225F4;
$colorTen: #200338;
$colorEleven: #A87EF7;
$colorTwelve: #000;
$lgradientThird: linear-gradient(to right, #04535E 0, #04535E 50%, #E9F413 50%, #E9F413 100%);
$lgradientFourth: linear-gradient(#E3F213 25%, #13F21A 75%);
@mixin bigScreen {
    max-width: 1200px;
    margin: auto;
}

.body {
    margin: 0;
} 
/*header*/
.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 400px;
    &__comeback {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 10px;
        background: $colorOne;
    }
    &__anchor {
        &_upper {
            text-decoration: $textDecoration;
            color: $colorTwo;
            font-weight: $fontWeight;
            font-style: $fontStyle;
            font-size: 1.6em;
            background: $lgradientFirst;
            border-radius: 40px;
            text-align: center;
            padding-top: 70px;
        }
        &_upper:hover,
        &_upper:active  {
            text-decoration: $textDec;
            color: $colorThree;
            font-style: $fStyle;
            background: $colorFour;
            border-radius: 50%;
        }
        &_lower {
            text-decoration: $textDecoration;
            color: $colorTwo;
            font-weight: $fontWeight;
            font-style: $fontStyle;
            font-size: 1.6em;
            background: $lgradientSecond;
            border-radius: 40px;
            text-align: center;
            padding-top: 70px;
        }
        &_lower:hover,
        &_lower:active {
            text-decoration: $textDec;
            color: $colorThree;
            font-style: $fStyle;
            background: $colorFour;
            border-radius: 50%;
        }
    }
    &__slider {
        overflow: hidden;
        position: relative;
        background-color: $colorFive;
    }
    &__image {
        position: absolute;
        height: 400px;
        width: 100%;
        &_first {
            left: 0;
        }
        &_second,
        &_third,
        &_fourth {
            left: 100%;
        }
        &_second {
            animation: sliding-second $animType;
            transition: $transition;
        }
        @keyframes sliding-second {
            0% {
                transform: $translateFirst;
            }
            50% {
                transform: $translateSecond;
            }
            75% {
            transform: $translateSecond;
            }
            100% {
            transform: $translateSecond;
            }
        }
        &_third {
            animation: sliding-third $animType;
            transition: $transition;
        }
        @keyframes sliding-third {
            0% {
                transform: $translateFirst;
            }
            50% {
                transform: $translateFirst;
            }
            75% {
                transform: $translateSecond;
            }
            100% {
                transform: $translateSecond;
            }
        }
        &_fourth {
            animation: sliding-fourth $animType;
            transition: $transition;
        }
        @keyframes sliding-fourth {
            0% {
                transform: $translateFirst;
            }
            50% {
                transform: $translateFirst;
            }
            75% {
                transform: $translateFirst;
            }
            100% {
            transform: $translateSecond;
            }
        }
    }
    &__title {
        margin-top: 100px;
        margin-left: 120px;
        font-style: $fontStyle;
        color: $colorOne;
        text-shadow: 1px 1px $colorFive;
        font-size: 4em;
        position: absolute;
        z-index: 100;
    }
}
/*navigation*/
.navigation {
    text-align: center;
    &__title {
        color: $colorSix;
        text-shadow: 2px 2px $colorSeven;
        font-style: $fontStyle;
        font-size: 1.8em;
    }
    &__menu {
        padding-left: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &__item {
        background: $colorSix;
        border: 2px dashed $colorSeven;
        text-align: center;
        list-style-type: $lstyleType;
        &_main {
            background: #F71509;
            border: 2px dashed $colorEight;
        }
        &_main:hover,
        &_main:active {
            background: $colorNine;
            border: 2px solid $colorEight;
        }
    }
    &__item:hover,
    &__item:active {
        background: #22F4E6;
        border: 2px solid $colorSeven;
    }
    &__anchor {
        text-decoration: $textDecoration;
        font-weight: $fontWeight;
        color: #EFEFE1;
        font-style: $fontStyle;
        line-height: 40px;
    }
    &__anchor:hover,
    &__anchor:active {
        color: $colorNine;
    }
}
/*main part*/
.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}
/*sidebar*/
.aside {
    text-align: center;
    background: #F7F57E;
    &__title {
        color: $colorTwo;
        font-style: $fontStyle;
        text-shadow: 1px 1px $colorOne;
        font-size: 1.8em;
    }
    &__switch {
        display: none;
    }
    &__text {
        display: none;
    }
    &__switch:not(:checked) ~ .aside__switchConnection>.aside__text_shown {
        display: inline-block;
        font-style: $fontStyle;
        color: $colorTen;
        text-shadow: 1px 1px $colorEleven;
        font-weight: $fontWeight;
        font-size: 1.2em;
    }
    &__switch:checked ~ .aside__switchConnection>.aside__text_hidden {
        display: inline-block;
        font-style: italic;
        color: $colorTen;
        text-shadow: 1px 1px $colorEleven;
        font-weight: $fontWeight;
        font-size: 1.2em;
    }   
    &__menu {
        display: none;
    }
    &__switch:checked ~ .aside__menu {
        margin-left: 20px;
        display: grid;
        padding: 0;
        padding-left: 10px;
        padding-top: 10px;
        width: 350px;
        height: 350px;
        background: #14CEBB;
        border: 2px solid $colorTwelve;
        border-radius: 50%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        ". item-first . " 
        "item-second item-third item-fourth"
        ". item-fifth . ";
    }
    &__item {
        border: 2px solid $colorTwelve;
        border-radius: 50%;
        text-align: center;
        background: #0C7172;
        list-style-type: $lstyleType;
        width: 100px;
        height: 100px;
        line-height: 100px;
        &_first {
            grid-area: item-first;
        }
        &_second {
            grid-area: item-second;
        }
        &_third{
            grid-area: item-third;
        }
        &_fourth {
            grid-area: item-fourth;
        }
        &_fifth{
            grid-area: item-fifth;
        }
    }
    &__item:hover,
    &__item:active  {
        background: #F26209;
    }
    &__anchor {
        text-decoration: none;
        font-weight: bold;
        color: $colorTen;
    }
    &__anchor:hover {
        color: #870A29;
    }
}
/*content*/
.article {
    text-align: center;
    &__image {
        border-radius: 15px;
        width: 75%; 
    }
    &__title {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 1.3em;
    }
    &__text {
        text-align: justify;
    }
    &_paragraph {
        margin: 5px 10px 5px 10px;
    }
    &_list {
        text-align: center;
        margin: 10px 20px 10px 20px;
    }
    &__item {
        text-align: justify;
        margin-top: 10px;
    }
}
/*footer*/
.footer {
    margin-top: 5px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 5px;
    &__copyright,
    &__icons {
        background: #BDC1BA;
    }
    &__copyright {
        color: #050226;
        font-style: $fontStyle;
        font-weight: $fontWeight;
        font-size: 1.2em;
        padding-top: 100px;
        padding-left: 10px;
    }
    &__menu {
        padding-left: 8px;
        display: grid;
        grid-template-rows: 110px;
        grid-template-columns: 110px 110px 110px;
        justify-content: space-evenly;
    }
    &__item {
        list-style-type: none;
        border-radius: 50%;
        background: $lgradientThird;
        padding-left: 0;
    }
    &__anchor {
        text-decoration: none;
        color: #050226;
        text-shadow: 2px -2px #9E4CEF;
        font-weight: $fontWeight;
        line-height: 100px;
        margin-left: -5px;
    }
}
@media screen and (max-width: 550px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 100px;
        grid-template-areas: 
            "slider"
            "comeback";
        &__comeback {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 2px;
            grid-area: comeback;
        }
        &__slider {
            grid-area: slider;
            background-image: $lgradientFourth;
        }
        &__image {
            display: none;
        }
        &__anchor {
            &_upper {
                padding-top: 2px;
            }
            &_lower {
                padding-top: 2px;
            }
        }
        &__title {
            font-size: 2em;
            margin-top: 120px;
            margin-left: 5%;
            color: $colorTwo;
        }
    }
    .navigation {
        &__menu {
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }
    }
    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 220px;
        grid-template-areas: 
            "article"
            "aside";
    }
    .aside {
        grid-area: aside;
        background: #051402;
        &__switch {
            display: none;
        }
        &__text {
            display: none;
        }
        &__switchConnection {
            display: none;
        }
        &__title {
            margin-bottom: 2px;
        }
        &__menu {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            background: #6BE56F;
            border-radius: 10px;
            grid-template-areas: 
                "item-first item-second "
                "item-third item-fourth"
                "item-fifth . ";
            width: 70%;
            height: 100px;
            padding-top: 15px;
            margin: 0 auto;
        }
        &__item {
            border: 2px solid $colorTwelve;
            border-radius: 20px;
            background: #EF6EE0;
            line-height: 20px;
            height: 20px;
        }
    }
    .article {
        &__image {
            width: 100%;
        }
    }
   .footer {
    grid-template-rows: 150px;
    grid-template-columns: 1fr;
    grid-template-areas: 
            "icons";
        &__copyright {
            display: none;
        }
        &__icons {
            grid-area: icons;
        }
   }
}
@media screen and (min-width: 551px) and (max-width: 800px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 50px;
        grid-template-areas: 
            "slider"
            "comeback";
        &__comeback {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 2px;
            grid-area: comeback;
        }
        &__slider {
            grid-area: slider;
        }
        &__anchor {
            &_upper {
                padding-top: 2px;
            }
            &_lower {
                padding-top: 2px;
            }
        }
        &__title {
            font-size: 3em;
            margin-top: 120px;
            margin-left: 10%;
        }
    }
    .navigation {
        &__menu {
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }
    }
    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 200px;
        grid-template-areas: 
            "article"
            "aside";
    }
    .aside {
        grid-area: aside;
        background: #051402;
        &__switch {
            display: none;
        }
        &__text {
            display: none;
        }
        &__switchConnection {
            display: none;
        }
        &__title {
            margin-bottom: 2px;
        }
        &__menu {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            background: #6BE56F;
            border-radius: 10px;
            grid-template-areas: 
                "item-first item-second item-third"
                "item-fourth item-fifth . ";
            width: 70%;
            height: 100px;
            padding-top: 15px;
            margin: 0 auto;
        }
        &__item {
            border: 2px solid $colorTwelve;
            border-radius: 20px;
            background: #EF6EE0;
            line-height: 20px;
            height: 20px;
        }
    }
    .article {
        &__image {
            width: 85%;
        }
    }
   .footer {
    grid-template-rows: 180px 50px;
    grid-template-columns: 1fr;
    grid-template-areas: 
            "icons"
            "copyright";
        &__copyright {
            grid-area: copyright;
            background: #BDC1BA;
            padding-top: 0;
        }
        &__icons {
            grid-area: icons;
        }
   }
}
@media screen and (min-width: 1200px) {
    .body {
        @include bigScreen;
    }
}