.body {
  margin: 0;
}

/*header*/
.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: 516px;
      grid-template-rows: 516px;
  background-color: #000;
}

.header__image {
  background-size: 100% 516px;
  background-repeat: no-repeat;
}

.header__image_number-1 {
  background-image: url("../../img/1.jpg");
}

.header__image_number-2 {
  background-image: url("../../img/2.jpg");
}

.header__image_number-3 {
  background-image: url("../../img/3.jpg");
}

.header__image_number-4 {
  background-image: url("../../img/4.jpeg");
}

.header__image_number-5 {
  background-image: url("../../img/5.jpg");
}

.header__title {
  font-size: 2.8em;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-top: 5%;
  text-shadow: -2px -2px #000;
}

/*navigation*/
.navigation {
  border: 5px solid #fff;
  border-radius: 20px;
  background: transparent;
  margin: 5% auto;
  width: 50%;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navigation__menu {
  display: none;
}

.navigation__item {
  list-style-type: none;
}

.navigation__anchor {
  text-decoration: none;
  color: #044215;
  font-style: italic;
  font-size: 0.8em;
}

.header__menu {
  background: #14E5C9;
  margin: 0;
  text-align: center;
  /*line-height: 80px;*/
}

.header__item {
  margin: 20% 10% 10% 10%;
  border-radius: 50%;
  border: 5px solid #fff;
  background: #14E5C9;
  list-style-type: none;
}

.header__anchor {
  color: #fff;
  text-decoration: none;
  font-style: italic;
  font-size: 1.5em;
  font-weight: bold;
}

/*main part*/
.main {
  display: -ms-grid;
  display: grid;
  /* grid-template-columns: 350px 1fr;*/
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

/*sidebar*/
.aside {
  background: #14E5C9;
  border-right: 5px solid #1468E5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 150px 150px 150px 150px 150px;
      grid-template-rows: 150px 150px 150px 150px 150px;
  grid-row-gap: 5px;
  padding-top: 35px;
}

.aside__rectangle {
  background: green;
  border-top: 30px solid yellow;
  border-bottom: 30px solid yellow;
  border-right: 30px solid yellow;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 50px;
  /*width: 300px;*/
  text-align: center;
  line-height: 50px;
  position: relative;
}

.aside__rectangle_active {
  background: #EF6EE0;
}

.aside__anchor {
  text-decoration: none;
  color: yellow;
  text-shadow: 1px 1px #fff;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
}

.aside__anchor_active {
  color: #9E0F33;
}

.aside__circle {
  border-radius: 50%;
  background-color: #042804;
  width: 60px;
  height: 60px;
  /*margin-left: 82%;
    margin-top: -19%;*/
  position: absolute;
  top: -5px;
  right: -5px;
}

.aside__circle_number-1 {
  background-image: url("../../img/sports.png");
  background-repeat: no-repeat;
  background-size: 237px 41px;
  background-position: 10px 8px;
}

.aside__circle_number-2 {
  background-image: url("../../img/sports.png");
  background-repeat: no-repeat;
  background-size: 237px 41px;
  background-position: -41.4px 8px;
}

.aside__circle_number-3 {
  background-image: url("../../img/sports.png");
  background-repeat: no-repeat;
  background-size: 237px 41px;
  background-position: -87.8px 8px;
}

.aside__circle_number-4 {
  background-image: url("../../img/sports.png");
  background-repeat: no-repeat;
  background-size: 237px 41px;
  background-position: -135.2px 8px;
}

.aside__circle_number-5 {
  background-image: url("../../img/sports.png");
  background-repeat: no-repeat;
  background-size: 237px 41px;
  background-position: -188.6px 8px;
}

.aside__circle_active {
  background-color: #9E0F33;
}

/*content*/
.content__title {
  color: #1F0738;
  margin-left: 30%;
  margin-top: 10px;
}

.content__item {
  list-style-type: none;
  margin-left: 5%;
}

.content__anchor {
  color: #1E2EDB;
}

.content__text {
  margin-left: 2%;
}

/*footer*/
.footer {
  background: #14E5C9;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 40%;
      grid-template-columns: 25% 40%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copyright {
  text-align: center;
}

.footer__copyright,
.footer__icons {
  background: #fff;
  color: #054215;
  font-weight: bold;
  font-style: italic;
  border-radius: 10px;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px -5px 5px #054215;
          box-shadow: 5px -5px 5px #054215;
  text-shadow: 2px -2px 2px #14E5C9;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  /*text-align: center;*/
  padding-left: 0;
  padding-bottom: 0;
  /* text-align: center;*/
  margin-left: 0;
}

.footer__item {
  list-style-type: none;
  border-radius: 10px;
}

.footer__anchor {
  text-decoration: none;
  color: #054215;
}

@media screen and (max-width: 750px) {
  .body {
    width: 100%;
  }
  .header {
    width: 100%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 450px 1fr;
        grid-template-rows: 450px 1fr;
    grid-row-gap: 0;
  }
  .header__image {
    width: 100%;
  }
  .header__title {
    margin-top: 0;
    font-size: 2.2em;
    margin-left: 0;
  }
  .navigation {
    width: 90%;
  }
  .header__menu {
    line-height: 20px;
    padding-left: 0;
  }
  .header__item {
    /*margin-top: 2%;*/
    /*margin-bottom: 5%;*/
    margin: 0;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
  .main {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr 450px;
        grid-template-rows: 1fr 450px;
        grid-template-areas: "content" "aside";
  }
  .aside {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: aside;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 80px 80px 80px 80px 80px;
        grid-template-rows: 80px 80px 80px 80px 80px;
    padding-top: 10px;
    border-right: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .aside__rectangle {
    border: 10px solid yellow;
    border-radius: 50px;
  }
  .content {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: content;
  }
  .content__title {
    /*margin-left: 20%;*/
    margin-left: 2%;
  }
  .content__menu {
    padding-left: 2%;
  }
  .content__item {
    margin-left: 0;
    padding-left: 0;
  }
  .footer {
    /*grid-template-columns: 90%;
        grid-template-rows: 1fr 1fr;*/
    display: block;
    /*justify-content: center;*/
    height: 150px;
    margin-top: 5px;
  }
  .footer-menu {
    /*width: 90%;*/
    margin-left: 0;
  }
  .footer__copyright {
    text-align: center;
  }
  .footer__item {
    list-style-type: none;
    background: #fff;
    text-align: center;
  }
}

@media screen and (min-width: 751px) and (max-width: 800px) {
  .header__menu {
    line-height: 30px;
    /*padding-top: 20%;*/
  }
  .header__title {
    margin-left: 0;
  }
  .content__title {
    /*margin-left: 20%;*/
    margin-left: 2%;
  }
  .content__menu {
    padding-left: 2%;
  }
  .content__item {
    margin-left: 0;
    padding-left: 0;
  }
  /*.footer {
       height: 150px;
       grid-template-rows: 100px;
    }
   
    .footer__menu {
        justify-content: flex-start;
        margin-left: 0;
    }
    .footer__item {
        /*display: flex;*/
  /*background: $whiteColor;*/
  /* margin: 0;*/
  /*}*/
  .footer {
    /*grid-template-columns: 90%;
        grid-template-rows: 1fr 1fr;*/
    display: block;
    /*justify-content: center;*/
    /* height: 180px;*/
    margin-top: 5px;
  }
  .footer__copyright {
    text-align: center;
  }
  .footer-menu {
    /*width: 90%;*/
    margin-left: 0;
  }
  .footer__item {
    list-style-type: none;
    background: #fff;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .body {
    max-width: 1200px;
    margin: auto;
  }
}
/*# sourceMappingURL=4.css.map */